
  /* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:ital,wght@0,100;0,400;1,300&family=Raleway&display=swap'); */





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    background-color: rgba(129, 10, 220, 0.67);
    max-height: 100vh;
    border-radius: 5px;
    position:relative;
    

}
.nav-items a{
 display: inline-block;
margin-left: 25px;
margin-top: 30px;
text-decoration: none;
color: black;
justify-content: center;
align-items: center;



}
a i{
    margin-right: 5px;
    color: rgb(228, 234, 236);
    cursor: pointer;
    transition: 200ms;
}

.logo{
   height: 80px;
   border-radius:40px;
   cursor: pointer;

}
.title{
    margin-top:25px;
    margin-left: 3px;
    margin-right: auto;
}
.matter{
    background-image: linear-gradient(rgba(56, 56, 156, 0.5),rgba(44, 198, 101, 0.5)),url("hotelimage.jpeg");
    background-position: center;
    background-size: cover;
    height:100vh;
    color: rgb(153, 183, 22);
    overflow: hidden;
}
.quote{
margin-top: 100px;
font-size: 50px;
float: left;
font-family: 'EB Garamond', serif;
}
.rooms{
    float: right;
    display:table
}
.rooms img{
    height: 200px;
    padding: 15px;
    transform: translate(-50%);
    margin-bottom: 10px;
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;
}
.lobby{
    float: right;
    display:table
   
}

.lobby img{
    height: 180px;
    padding: 10px;
    transform:translate(-40%);
    margin-bottom: 40px;
    border-radius: 40px;
    transition: 500ms;
    cursor: pointer;
}
button{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    float: right;
    width: 160px;
    margin: 50px 50px;
    border-radius: 20px;
    background: transparent;
    box-shadow: darksalmon;
    border: greenyellow 2px solid;
    color: rgba(0, 244, 0, 1);
    overflow: hidden;
    cursor: pointer;
   

}
.rooms img:hover{
    scale: 1.4;

}

.lobby img:hover{
    scale: 1.4;

}
a:hover{
    transform: scale(1.1);

}

button:hover{
    scale: 1.1;

}


@media only screen and (max-width:500px)
{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow: hidden; */
    }
    nav{
        background-color: rgb(166, 105, 14);
    }

   .nav-items a{
    display: inline-block;
    margin-left: 8px;
    color: black;
   }
   a i{
    color: rgba(42, 11, 165, 0.999);
   }
   .quote{
    text-align: left;
    font-size: 30px;
   }
   .quote2{
    display: none;
   }
   .rooms img{
    height: 100px;
    transform: translate(-50%);
    margin-left: 10px;
    border-radius: 20px;

   }
   .lobby img{
    height:100px;
    border-radius: 20px;
    padding-left: 10px;
    
   }
   
}